@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_AaliyaLayout.cshtml";
}
<section>
    <div class="card">
        <div class="card-body">
            <img class="card-img-top rounded align-content-sm-center" src="~/images/access_denied.jpg"/>
        </div>
    </div>
</section>


